package org.elan.standart.controller;

import org.elan.rpc.RpcError;
import org.elan.rpc.RpcResponse;

import java.util.List;

import org.elan.application.model.*;
import org.elan.standart.model.Error;
import org.json.simple.JSONArray;
import org.json.simple.JSONObject;
import org.sql2o.Connection;

public class <%=model.capitalize%>Controller extends Controller implements StandartActions {
	private	RpcResponse response;
	private Connection con;
	@SuppressWarnings("unchecked")
	@Override
	public RpcResponse create(JSONObject params) {
		JSONObject res = new JSONObject();
		<%=model.capitalize%> <%=model%> =  new <%=model.capitalize%>();		
		try {
<%for v in vars do -%>
<%next if v[:name]=="unid" -%>
		<%=model%>.set<%=v[:name].capitalize%>((<%= v[:type]%>)params.get("<%=v[:name]%>"));
<%end %>			

			con =sql2o.beginTransaction();
			if(<%=model%>.save(con)){
				con.commit();
				response = new RpcResponse();
				res.put("unid",<%=model%>.getUnid());
				response.setResult(res);
				return response;
			}else{
				throw new Exception();
			}

		} catch (Exception e) {
			response = new RpcResponse();
			for (Error err : <%=model%>.getErrors()){
				response.addError(new RpcError(err.getCode(), err.getErr()));
			}
			return response;
		}
	}

	@SuppressWarnings("unchecked")
	@Override
	public RpcResponse update(JSONObject params) {
		JSONObject res = new JSONObject();
		<%=model.capitalize%> <%=model%> =  new <%=model.capitalize%>();
		try {
			con = sql2o.beginTransaction();
			<%=model%> = con.createQuery("select * from <%=model%> where unid = :unidP")
			.addParameter("unidP", (long)params.get("unid"))
			.executeAndFetch(<%=model.capitalize%>.class).get(0);
<%for v in vars do -%>
<%next if v[:name]=="unid" -%>
		<%=model%>.set<%=v[:name].capitalize%>((<%= v[:type]%>)params.get("<%=v[:name]%>"));
<%end %>	
			if(<%=model%>.save(con)){
				con.commit();
				response = new RpcResponse();
				res.put("unid",<%=model%>.getUnid());
				response.setResult(res);
				return response;
			}else{
				throw new Exception();
			}

		} catch (Exception e) {
			response = new RpcResponse();
			for (Error err : <%=model%>.getErrors()){
				response.addError(new RpcError(err.getCode(), err.getErr()));
			}
			return response;
		}
	}

	@SuppressWarnings("unchecked")
	@Override
	public RpcResponse destroy(JSONObject params) {
		JSONObject res = new JSONObject();
		<%=model.capitalize%> <%=model%> =  new <%=model.capitalize%>();
		try {
			con = sql2o.beginTransaction();
			<%=model%> = con.createQuery("select * from <%=model%> where unid = :unidP")
			.addParameter("unidP", (long)params.get("unid"))
			.executeAndFetch(<%=model.capitalize%>.class).get(0);
			if(<%=model%>.destroy(con)){
				con.commit();
				response = new RpcResponse();
				res.put("unid",<%=model%>.getUnid());
				response.setResult(res);
				return response;
			}else{
				throw new Exception();
			}

		} catch (Exception e) {
			response = new RpcResponse();
			for (Error err : <%=model%>.getErrors()){
				response.addError(new RpcError(err.getCode(), err.getErr()));
			}
			return response;
		}
	}

	@SuppressWarnings("unchecked")
	@Override
	public RpcResponse list(JSONObject params) {
		List<<%=model.capitalize%>> <%=model%>s;
		JSONArray jsonArray;
		try {
			con = sql2o.beginTransaction();
			String selectSql = "select * from <%=model%>";
			<%=model%>s = con.createQuery(selectSql)
			.executeAndFetch(<%=model.capitalize%>.class);
			jsonArray = new JSONArray();
			for (<%=model.capitalize%> c : <%=model%>s) {
				jsonArray.add(c.toJson());
			}
			con.close();
			response = new RpcResponse();
			response.setResult(jsonArray);
			return response;
		} catch (Exception e) {
			response = new RpcResponse();
			response.addError(new RpcError(e.getClass().getName(),e.getMessage()));
			return response;
		}
	}

	@Override
	public RpcResponse show(JSONObject params) {
		List<<%=model.capitalize%>> <%=model%>s;
		try {
			con = sql2o.beginTransaction();
			<%=model%>s = con.createQuery("select * from <%=model%> where unid = :unidP")
			.addParameter("unidP", (long)params.get("unid"))
			.executeAndFetch(<%=model.capitalize%>.class);
			response = new RpcResponse();
			if(<%=model%>s.size()>0){
				response.setResult(<%=model%>s.get(0).toJson());
			}else{
				response.setResult("");//Empty result
			}
			return(response);
		} catch (Exception e) {
			response = new RpcResponse();
			response.addError(new RpcError(e.getClass().getName(),e.getMessage()));
			return response;			
		}
	}


}
